*{
    box-sizing: border-box;
}
.main-details{
    min-height: 100vh;
    background-color: rgb(22, 22, 22);
}
.main-space{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.MainHotel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vh;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.MainShow{
    display: flex;
    width: 80vh;
    background-color:#ffffff;
    color: rgb(16, 1, 1);
    font-weight: bold;
    flex-wrap: wrap;
}
.left-mh{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-mh{
    height: 50vh;
    width: 100%;
}

.right-mh{
    display: flex;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}
.columns-comments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 10px;
}
.btns-textarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.green-btn{
    width: 100px;
    height: 25px;
    background-color: rgb(103, 255, 103);
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
}
.red-btn{
    width: 100px;
    height: 25px;
    background-color: rgb(255, 113, 103);
    font-size: 20px;
    border: 2px solid black;
    font-weight: bold;
}
@media screen and (max-width: 900px){
    .main-details{
        height: auto;
        background-color: rgb(22, 22, 22);
    
    }

}
@media screen and (max-width: 800px ){
    .right-mh{
        display: flex;
        font-size: 12px;
        padding: 0px!important;
        margin: 0px;
        gap: 0;
        width: 20%;
    }
    .right-mh > p{
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: 0;
        margin: 0;
        gap: 0;
    }
}
@media screen and (min-width: 2000px) {
    h1{
        font-size: 54px;
    }
    h3{
        font-size: 34px
    }
    p{
        font-size: 28px;
    }
}


    
