.text-center{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin-top: 0.15rem;
}
.textarea{
    margin: 0;
    width: 400px;
    height: 100px;
    max-width: 400px;
    min-width: 400px;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
    font-size: 22px;
    color:rgb(100, 13, 1);
    font-weight: bold;
}