* {
  box-sizing: border-box;
}
.profile-card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  flex-grow: 1;
  width: 100%;
  margin-top: 45px;
}
.col-1-pc {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 20px;
  margin-left: 140px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-top: 2px solid rgba(55, 55, 55, 0.731);
  border-left: 2px solid rgba(55, 55, 55, 0.731);
  border-right: 2px solid rgba(55, 55, 55, 0.731);
  box-shadow: 0px 4px 1px rgba(144, 0, 0, 0.731);
}
.col-1-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.profile-name{
  text-align: center;
}
.profile-pic {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
}
.col-1-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}
.col-1-links > a {
  text-decoration: none;
  color: white;
}
.col-1-links > a:hover {
  text-decoration: none;
  color: rgb(246, 32, 28);
  font-weight: bold;
}
.col-2-pc {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 291px;
  padding: 20px;
  margin-right: 80px;
  background-color: rgb(0, 0, 0);
  border-top: 2px solid rgba(55, 55, 55, 0.731);
  border-right: 2px solid rgba(55, 55, 55, 0.731);
  box-shadow: 0px 4px 1px rgba(144, 0, 0, 0.731);
  color: white;
}
.col-2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.userData-cols {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 6rem;
}
.col-2-userData-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  gap: 1rem;
}
.col-2-userData-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  gap: 1rem;
}
.input-profile{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(149, 0, 0);
    outline: none;
}
.label-profile{
    color: rgb(255, 115, 115);
    font-weight: bold;
    text-transform: uppercase;
}


@media screen and (max-width: 750px){
  .profile-card{
     flex-direction: column;
      height: auto;
      width: 100%;
      padding: 0;
      flex-wrap: wrap;
      margin-bottom: 40px;
  }
  .userData-cols{
    flex-direction: column;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }
 .col-1-pc{
  width: 100%;
  height: auto;
  border: none;
  margin: 0;
  box-shadow: none;
  flex-wrap: wrap;
 }
 .col-2-pc{
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  box-shadow: none;
  flex-wrap: wrap;
 }
}