*{
    box-sizing: border-box;
}
.main-details-City{
    height: 150vh;
    background-color: rgb(22, 22, 22);

}
.main-space{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.show-space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.MainHotel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vh;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.left-mh{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-mh{
    height: 50vh;
    width: 100%;
}

.right-mh{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 2rem;
}
@media screen and (max-width: 900px){
    .main-details{
        height: auto;
        background-color: rgb(22, 22, 22);
    
    }
}
@media screen and (min-width: 2000px) {
    h1{
        font-size: 54px;
    }
    h3{
        font-size: 34px
    }
    p{
        font-size: 28px;
    }
}
