.contenedor-form2{
        background-image: url("https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?w=2000");
}
.form-new-reac{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    background-color: rgba(80, 142, 196, 0.301);
}
.label-formnew{
    padding: 1rem;
    color: rgb(157, 211, 211);
}

.inputinShow{
    margin: .5rem;
    width: 100%;
    font-size: 2rem;
}

.form__inputShow{
    padding: 3px;
    width: 30%;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-shadow: 3px 3px 5px rgb(3 3 3 / 65%);
    text-align: center;
}

.submitsignup{
    padding: 1rem;
}

.submitsignup:hover{
    background-color: crimson;
}

.title-reactions{
    text-align: center;
    color: aliceblue;
    margin: 1rem;
}