.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background-color: #000000;
}
.container404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("https://wallpaperaccess.com/full/1431610.jpg");
    background-size: cover;
    background-position: center;
    background-color: #000000a6;
    color: white;
    filter: grayscale(0.7);

}
.container404 > h1{
    color: white;
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    padding: 10px;
}
.container404 > h3{
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    padding-bottom: 30px;
}
.links >  a{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    border: 3px solid rgb(22, 9, 9);
    padding: 5px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.472);
}
.links >  a:hover{
    background-color: grey;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    border: 3px solid white;
    padding: 5px;
    margin: 10px;
}

@media screen and (max-width: 1440px){
    .maincontainer{
        height: 100vh;
    }
}
@media screen and (max-width: 425px){
    .maincontainer{
        text-align: center;
    }
}
    
